
/* src/App.css */

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #ffffff;
}

.App {
  display: flex;
  flex-direction: column;
}

.logo {
  align-self: center;
  width: 150px; /* Adjust size as needed */
  margin-top: 20px; /* Add margin as needed */
}

.content {
  flex: 1; /* Take remaining space */
  display: flex;
  justify-content: center;
  align-items: center;
}
